body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #000000, #585858); 
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box; /* Make sure padding doesn't cause overflow */
}

h1 {
    text-align: center;
    color: #4c6baf;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form elements */
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Ensure inputs take up the full width */
    box-sizing: border-box; /* Prevent overflow */
}

button {
    cursor: pointer;
    background-color: #4c6baf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: auto; /* Adjust button width */
    margin-top: 10px;
}

.resume-preview {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

#resumeContent {
    width: 80%; /* Ensure resume content is centered and takes up 80% of the page width */
    margin: 0 auto; /* Center resume content */
    text-align: center;
    padding: 20px;
}

#resumeContent h2, #resumeContent h3, #resumeContent p {
    margin: 10px 0;
}

#displayPhoto {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}
